<div class="energy-analysis">
    <div class="timespan-tab">
        <!--timespan-tab-->
        <div class="timespan-tab-cycle-block"  id="time_tab_day_picker">
                <div class="timespan-tab-label">日</div>        
                <div class="timespan-tab-cycle-date-block">          
                    <div class="timespan-tab-left-nav" >
                        <img type="button" src="{{leftimg}}" >
                    </div>      
                    <div class="timespan-tab-date-input">
                        <input title="格式：YYYY.MM.dd" value="2016.08.10">
                    </div>           
                    <div  class="timespan-tab-right-nav" >
                        <img  type="button" src="{{rightimg}}" >
                    </div>        
                </div>   
         </div>

           <div class="timespan-tab-cycle-block"  id="time_tab_day_picker">
                <div class="timespan-tab-label">日</div>        
                <div class="timespan-tab-cycle-date-block">          
                    <div class="timespan-tab-left-nav" >
                        <img type="button" src="{{leftimg}}" >
                    </div>      
                    <div class="timespan-tab-date-input">
                        <input title="格式：YYYY.MM.dd" value="2016.08.10">
                    </div>           
                    <div  class="timespan-tab-right-nav" >
                        <img  type="button" src="{{rightimg}}" >
                    </div>        
                </div>   
         </div>

           <div class="timespan-tab-cycle-block"  id="time_tab_day_picker">
                <div class="timespan-tab-label">日</div>        
                <div class="timespan-tab-cycle-date-block">          
                    <div class="timespan-tab-left-nav" >
                        <img type="button" src="{{leftimg}}" >
                    </div>      
                    <div class="timespan-tab-date-input">
                        <input title="格式：YYYY.MM.dd" value="2016.08.10">
                    </div>           
                    <div  class="timespan-tab-right-nav" >
                        <img  type="button" src="{{rightimg}}" >
                    </div>        
                </div>   
         </div>

           <div class="timespan-tab-cycle-block"  id="time_tab_day_picker">
                <div class="timespan-tab-label">日</div>        
                <div class="timespan-tab-cycle-date-block">          
                    <div class="timespan-tab-left-nav" >
                        <img type="button" src="{{leftimg}}" >
                    </div>      
                    <div class="timespan-tab-date-input">
                        <input title="格式：YYYY.MM.dd" value="2016.08.10">
                    </div>           
                    <div  class="timespan-tab-right-nav" >
                        <img  type="button" src="{{rightimg}}" >
                    </div>        
                </div>   
         </div>
    </div>

     <div class="data-tab">
        <div class="sumary-title">
            <!--sumary-title-->
            <div class="sumary-title-block">
                <span class="sumary-title-data">0.0</span>
                <span class="sumary-title-label">电kWh</span>
            </div>
            <div class="sumary-title-block">
                <span class="sumary-title-data">0.0</span>
                <span class="sumary-title-label">电kWh</span>
            </div>
            <div class="sumary-title-block">
                <span class="sumary-title-data">0.0</span>
                <span class="sumary-title-label">电kWh</span>
            </div>
            <div class="sumary-title-block">
                <span class="sumary-title-data">0.0</span>
                <span class="sumary-title-label">电kWh</span>
            </div>
        </div>

         <div class="chart-data">
               <!--chart-data-->
              <div class="chart-data-bar" id="container1">1</div>
              <div class="chart-data-pie"  id="container3">2</div>
              <div class="chart-data-line"  id="container2">3</div>
         </div>
    </div>
</div>