<!--<div class="earth"> <img src={{earth}}></div>-->

<div class="data-title">
    EFOS ECO GRAPH VIA HIOT
</div>

<div class="data-center">
    <div id="left_dash">

    <div class="left_dash-data">
            <div class="dash-data-block">
                <span class="total-num-center subitem-num">{{c_subdata.device_running}}</span><span class="subitem-unit">个</span>
                <div class="subitem-label"> <span>运行</span> </div>
            </div>
            <div class="dash-data-block">
                <span class="total-num-center subitem-num">{{c_subdata.device_stop}}</span><span class="subitem-unit">个</span>
                <div class="subitem-label"> <span>停止</span> </div>
            </div>
            <div class="dash-data-block">
                <span class="total-num-center subitem-num" style="color:red">{{c_subdata.device_broken}}</span>
                <span class="subitem-unit">个</span>
                <div class="subitem-label"> <span>故障</span> </div>
            </div>
        </div>
    </div>
    <!-- radar -->
    <div id="radar">
    </div>
    <div class="right_dash_div">
        <div class="right_dash-data">
            <div class="dash-data-block">
                <span class="total-num-center subitem-num">{{c_subdata.energy}}</span>
                <span class="subitem-unit">万kWh</span>
                <div class="subitem-label"><span>月能耗</span></div>
            </div>
            <div class="dash-data-block">
                <span class="total-num-center subitem-num">{{c_subdata.unit_engergy}}</span> 
                <span class="subitem-unit">kWh/m²</span>
                <div class="subitem-label"><span>单位面积能耗</span></div>
            </div>
            <div class="dash-data-block">
                <span class="total-num-center subitem-num">{{c_subdata.airC_engergy}}</span>
                <span class="subitem-unit">kWh/m²</span>
                <div class="subitem-label"><span>空调面积能耗</span></div>
            </div>
        </div>
        <div id="right_dash"></div>
    </div>
</div>

<div class="data-block">
    {{#each datablock}}
    <div class="data-block-item">
        <div class="data-block-item-title data-block-subitem-div">
            <span class="data-label-total">{{name}}:</span><span class="total-num data">{{value}}</span>
            <span class="unit">{{unit}}</span>
        </div>
        <div class="data-block-subitem">
            {{#if data2.name}}
                <div class="data-block-subitem-div"> <span class="data-label">{{data1.name}}:</span>
                <span class="data">{{data1.value}}</span>
                <span class="unit">{{data1.unit}}</span></div>
                <div class="data-block-subitem-div"> <span class="data-label">{{data2.name}}:</span>

                {{#if data2.red}}
                  <span class="data" style="color:red" >{{data2.value}}</span>
                {{else}}
                  <span class="data">{{data2.value}}</span>
                {{/if}}

                <span class="unit">{{data2.unit}}</span></div>
            {{else}}
               <div class="data-block-subitem-div"> <span class="data-label">{{data1.name}}:</span>
               <span class="total-num data" style="line-height:40px">{{data1.value}}</span>
               <span class="unit">{{data1.unit}}</span></div>
             {{/if}}
        </div>
    </div>
    {{/each}}
</div>

<div class="bottom-block">
    <div class="industry-block">
        <div class="bottom-block-title">行业</div>
        <div class="industry-block-list">
            {{#each industryblock}}
            <div class="industry-block-item">
                <img src={{src}}>
                <div class="data-label name">{{name}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="bottom-block-space"></div>
    <div class="devicetype-block">
        <div class="bottom-block-title ">设备类型</div>
        <div class="devicetype-block-list">
            {{#each devicetypeblock}}
            <div class="devicetype-block-item">
                <img src={{src}}>
                <div class="data-label name">{{name}}</div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
