        <span class="management-name">
            {{title}}
        </span>
        <div class="brand">
            <img  src="{{logo}}" height="45" />
            <span> {{systemName}}</span> 
        </div>
        <ul class="menu-list-nav">
            <li style="height: 50px">
                <img class="topic_switch" src="{{changeThem}}"/>
                <a id="userAccountInfo" href="#" class="link-style">
                   <img src="{{headImg}}" style="width: 40px;" />{{userName}}</a>
            </li>
        </ul>